#image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

header{
    background-color: black;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}

h1, p{
    color: white;
    text-align: center;
    margin: 2px;
}
figure{
    padding-top: 60px;
    padding-bottom: 50px;
    
}
figure, div{
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: justify;
}

.timeline li{
    padding-bottom: 10px;
}

footer{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}